{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="#resume" class="nav-link">Resume</a>
                </li>
            </ul>
            <ul class="navbar-nav brand">
                <img src="{{personalDetails.profile_picture}}" alt="" class="brand-img">
                <li class="brand-txt">
                    <h5 class="brand-title">{{personalDetails.first_name}}   {{personalDetails.second_name}}</h5>
                    <div class="brand-subtitle">{{personalDetails.profession}}</div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#certificates" class="nav-link">My Certificates</a>
                </li>
                <li class="nav-item last-item">
                    <a href="#contact" class="nav-link">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% include 'about.html' %}
<hr>
{% include 'resume.html' %}
<hr>
{% include 'certificates.html' %}
<hr>
{% include 'contact.html' %}

{% endblock %}


